body{
    margin: 0auto 0auto;
    background-color: bisque;
}
body{
    font-size:  20pts; 
    font-family: sans-serif;
    color: black;
}
header{
    text-align: center;
    background-color: brown;
}
h1{
    color: gray;
}
nav{
    font-family: cursive;
    color: grey;
    font-size: 15pt;
    margin-top: 5px;
    margin-right: 30px;
    margin-bottom: 20px;
    width : 200px;
    height : 230px; 
    float :left;
    padding:20pt ;

}
nav ul{
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;

}
nav li{
    list-style: none;
    font-size: 14pt;
  line-height: 30px;
}
a:link{
color: black;
  
}
a:hover{
    color: crimson;
    background-color: brown;
}
#Section2 img{
    width: 500px;
    height: 300px;
    border: solid black 10px;
    border-radius: 5px;
}
#Section1 p{
text-align: justify;
}
#Section3 p{
    text-align: justify;
}
#Section3 table,th,td{
    width: 300px;
    margin: 20px 20px;
    border: solid black 3px;
    
}
#Section3{
    caption-side: bottom;
}
footer{
    text-align: center;
    background-color: brown;
    color: grey;
}